.container{
    display:block;
}

.logo{
    color:  rgb(78, 74, 6);
    font-size: 2em;
    font-family:  "Merriweather", serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;  
    flex-direction: column;
    background-color: #e4f9f5;
    padding-top: 0% ;
    font-size: 20px;
    height:700px;
    position:relative;
}
.intro{
    justify-content: center;
    align-items: center;
    height:50px;
}
img{
    width:200px;
    height:200px;
    border-radius: 50%;
}
.qualification{
    display:inline block;
    align-items: center;
    
    text-align:center;
    
    
}
h2{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

.parent{
    
    display:grid;
    grid-template-columns:repeat(2,1fr);
 
    
    width: 50%;
    margin: 100px auto 0 auto;
    
    row-gap: 2rem;
    

}
.skills{
    display:block;
    text-align: center;
    
}
.parent > p{
    text-align: left;
}
.contact > h4{
    color:rgb(17, 161, 166);
}
.contact {
    justify-content: center;
    align-items: center;
    text-align:center;

}
.footer{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    text-align: center ;
}
.footer > a{
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none
}
.copyright{
    
        color: #eaf6f6;
        font-size: 0.95rem;
        padding: 20px 0;
}